@model Pivo
<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.img" alt="@Model.Name" />
    <h2>@Model.Name</h2>
    <p>  @Model.sopic</p>
    <p> @Model.Dopic</p>
    <p> градус пева :@Model.gradus.ToString()</p>
    <p> Цена пева :@Model.price.ToString("c")<p>

    <p><a class="btn btn-warning" href="#">В корзину</a></p>





</div>